.App {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    border: 3px solid;
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}