.App {
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
}

.main {
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}